{% extends 'base.html' %}
{% load static %}

{% block title_page %}Mentiens Légales{% endblock %}


{% block content %}

<header class="masthead">

    <section class="page-section">
    <div class="container bg-white">
         <div class="container bg-white p-5 rounded">
        <h2 class="text-center mt-0">Mentiens Légales</h2>
        <hr class="divider my-2" />
    </div>
     <p class="text-muted mb-5">
         <b>Mentions Légales Site Internet</b>
        <p>Mention d’information dans le cas de transmissions d’informations en dehors de l’Union Européenne dispose(nt) de accessoires et outils informatiques pour gérer.</p>

        <p>Les données enregistrées seront exploitées par le(s) service(s) concerné(s) et ne seront transmises qu’aux destinataires suivants:</p>

        <p>Parmi les entités ou services citées ci-dessus, les destinataires suivants  sont situées hors de l’Union Européenne. Ces destinataires auront accès aux informations suivantes</p>

        <p>Le transfert de ces mercato actu girondins de bordeaux aux destinataires ne se situant pas dans l’Union européenne a pour but de

        <p>Des garanties ont été prises pour veiller à une bonne protection des données personnelles. Elles sont libellées ci-dessous :</p>
        </p>
    </div>
</section>
</header>






{% endblock %}